.container
  - @scopes_to_display.each do |recipe_scope|
    .row
      .col-12.text-center{ class: @scopes_to_display.first == recipe_scope ? '' : 'mt-5' }
        %h1
          = recipe_scope.humanize
    - if instance_variable_get("@#{recipe_scope}_recipes").any?
      - instance_variable_get("@#{recipe_scope}_recipes").each do |recipe|
        .row.mb-0.p-4{ class: "#{instance_variable_get("@#{recipe_scope}_recipes").first === recipe ? 'mt-0' : 'mt-4'} #{component_classes(DarkMode::CLASSES[:admin_page_recipe])}" }
          = link_to recipe_path(recipe), target: "_blank", class: 'col-md-4 d-none d-md-block' do
            - if recipe.has_photo?
              .photo-container.text-center
                = image_tag recipe.photo.url, class: 'recipe-photo'
            - else
              = render 'shared/site_placeholder'
          = link_to recipe_path(recipe), target: "_blank", class: 'col-md-4 text-center mb-3 mb-md-0' do
            %h2
              = recipe.name
          .col-md-4
            - @events.each do |event|
              - if recipe.send("can_#{event}?")
                .mb-3
                  = link_to event.humanize, send("admin_recipe_#{event}_path", recipe), method: :patch, class: "w-100 btn #{component_classes(DarkMode::CLASSES[event == 'decline' ? :btn_docile : :btn_keen])}"
    - else
      .row.mt-5
        .col-12.text-center
          %h2
            Nothing to see here 🤷‍♂️
