- if @recipe_filter == 'user_recipes' && @searched_for_user_id == current_user.id
  My recipes
- elsif @recipe_filter == 'user_recipes' && @searched_for_user_id
  = "#{User.find(@searched_for_user_id).username}'s recipes"
- elsif @recipe_filter == 'user_favourites'
  Favourites
- elsif @recipe_filter == 'search' && @search_query
  = "'#{@search_query}' recipes"
- else
  = nil

