.input-display.ingredient-input-display{ id: "ingredient-#{ingredient.id}-display", class: [show_input ? 'd-none' : '', @user_can_edit ? component_classes(DarkMode::CLASSES[:can_edit_input_display]) : ''] }
  %div
    - Ingredient.ordered_display_rows.each do |column|
      = render 'recipes/ingredient_display', ingredient: ingredient, column: column
  - if @user_can_edit
    .ingredient-delete.ml-auto{ id: "ingredient-#{ingredient.id}-delete" }
      x
= simple_form_for [@recipe, ingredient] do |f|
  %div{ id: "ingredient-#{ingredient.id}-input", class: show_input ? '' : 'd-none' }
    - Ingredient.ordered_editable_column_keys.each do |column|
      = render 'recipes/ingredient_input', f: f, id: ingredient.id, column: column
