:javascript
  let inputIdPrefixes = []

.container
  .row
    .col-12.text-center
      = cl_image_tag @recipe.photo, class: 'recipe-index-photo'
  .row
    .col-12.text-center
      %h1#name-display.input-display
      = simple_form_for @recipe do |f|
        = f.input :name, disabled: true, label: false, input_html: { id: 'name-input', class: 'input-edit d-none text-center' }
  .row
    .col-8
      / If not the user's recipe, do not add #process-display. Make sure that pundit works for this. Also spec that the classes only exist when the user is the current user.
      #process-display.input-display
      = simple_form_for @recipe do |f|
        = f.input :process, disabled: true, label: false, input_html: { id: 'process-input', class: 'input-edit d-none' }
    .col-4
      - @ingredients.each do |ingredient|
        %p.input-display{ id: "ingredient-#{ingredient.id}-display" }
          %span{ id: "ingredient-#{ingredient.id}-amount-display" }
            = ingredient.amount
          %span{ id: "ingredient-#{ingredient.id}-unit-display" }
            = ingredient.unit
          %span{ id: "ingredient-#{ingredient.id}-food-display" }
            = ingredient.food&.humanize
          %span{ id: "ingredient-#{ingredient.id}-preparation-display" }
            = "(#{ingredient.preparation})"
        = simple_form_for [@recipe, ingredient] do |f|
          .d-none{ id: "ingredient-#{ingredient.id}-input" }
            = f.input :amount, disabled: :true, label: false, input_html: { id: "ingredient-#{ingredient.id}-amount-input", class: 'input-edit' }
            = f.input :unit, collection: @units, disabled: :true, label: false, input_html: { id: "ingredient-#{ingredient.id}-unit-input", class: 'input-edit' }
            = f.input :food, disabled: :true, label: false, input_html: { id: "ingredient-#{ingredient.id}-food-input", class: 'input-edit' }
            = f.input :preparation, disabled: :true, label: false, input_html: { id: "ingredient-#{ingredient.id}-preparation-input", class: 'input-edit' }
        :javascript
          inputIdPrefixes.push(`ingredient-${#{ingredient.id}}`)
      %div#add-ingredient
        Add ingredient

:javascript
  inputIdPrefixes.push('name', 'process')
