:javascript
  let inputIdPrefixes = []

.container
  .row
    .col-12.text-center
      = cl_image_tag @recipe.photo, class: 'recipe-index-photo'
  .row
    .col-12.text-center
      %h1#name-display.input-display
      = simple_form_for @recipe do |f|
        = f.input :name, label: false, input_html: { id: 'name-input', class: 'input-edit d-none text-center' }
  .row
    .col-8
      / If not the user's recipe, do not add #process-display. Make sure that pundit works for this. Also spec that the classes only exist when the user is the current user.
      #process-display.input-display
      = simple_form_for @recipe do |f|
        = f.input :process, label: false, input_html: { id: 'process-input', class: 'input-edit d-none' }
    .col-4
      #ingredients-container
        - @ingredients.each do |ingredient|
          = render partial: 'ingredient', locals: { ingredient: ingredient, show_input: false }
          :javascript
            inputIdPrefixes.push(`ingredient-${#{ingredient.id}}`)
      %div#add-ingredient
        = link_to 'Add ingredient', recipe_ingredients_path(@recipe), method: :post, remote: true

:javascript
  inputIdPrefixes.push('name', 'process')
