.container
  .row
    .col-12
      = cl_image_tag @recipe.photo, class: 'recipe-index-photo'
    .col-8
      %p
        = @recipe.process
    .col-4
      - @recipe.ingredients.each do |ingredient|
        %p
          = ingredient.amount || ingredient.amount_description
          = ingredient&.unit&.name
          = ingredient.name.humanize
