:javascript
  let inputIdPrefixes = []

= render 'shared/hidden_flash', text: ''

.container
  .row
    .col-12.text-center
      = simple_form_for @recipe, url: upload_photo_recipe_url, remote: true, html: { id: nil } do |f|
        = f.file_field :photo, id: 'photo-uploader', class: 'd-none'
        = f.submit id: 'submit-photo', class: 'd-none'

  .row.justify-content-center
    #spinner.spinner-grow.text-warning.position-absolute.d-none{ style: 'z-index: 100' }

    #photo-container.col-12.text-center
      - if @recipe.photo.file&.exists?
        = image_tag @recipe.photo.url
      - else
        PLACEHOLDER HERE


      // REMEMBER THAT WHEN IT COMES TO DISPLAYING RECIPE PHOTOS OF DIFFERENT SIZES SEE LINE 32 'THUMB' OF /Users/jethrowilliams/Google Drive/code/Plant-as-Usual-2/app/uploaders/photo_uploader.rb
      // WHICH CAN THEN BE DISPLAYED AS, FOR EXAMPLE, image_tag photo.image.thumb

  .row
    .col-12.text-center
      %h1#name-display.input-display{ class: @user_can_edit ? 'can-edit-input-display' : '' }
      = simple_form_for @recipe, remote: true, html: { id: nil } do |f|
        = f.input :name, label: false, input_html: { id: 'name-input', class: 'input-edit d-none text-center' }
  .row
    .col-8
      // If not the user's recipe, do not add #process-display. Make sure that pundit works for this. Also spec that the classes only exist when the user is the current user.
      #process-display.input-display{ class: @user_can_edit ? 'can-edit-input-display' : '' }
      // Perhaps add a safeguard where the recipe saves after every (100?) characters typed
      = simple_form_for @recipe, remote: true, html: { id: nil } do |f|
        = f.input :process, label: false, input_html: { id: 'process-input', class: 'input-edit d-none' }
    .col-4
      #ingredients-container
        - @ingredients.each do |ingredient|
          = render partial: 'ingredient', locals: { ingredient: ingredient, show_input: false }
          :javascript
            inputIdPrefixes.push(`ingredient-${#{ingredient.id}}`)
      - if @user_can_edit
        %div#add-ingredient
          = link_to 'Add ingredient', recipe_ingredients_path(@recipe), method: :post, remote: true

:javascript
  inputIdPrefixes.push('name', 'process')
  const isRecipeShow = #{current_page?(controller: 'recipes', action: 'show')}
  const userCanEdit = #{@user_can_edit}
