= link_to recipe_path(recipe) do
  .row.h-100{class: component_classes(DarkMode::CLASSES[:narrow_recipe_card])}
    .col-12.content-container
      .image-container
        - if recipe.photo.max_height_500.file&.exists?
          = image_tag recipe.photo.max_height_500.url, class: 'w-100 h-100'
        - else
          = render 'shared/site_placeholder'
      .d-flex.flex-column.justify-content-between.py-3.py-md-0.text-container
        %h3.mt-3.mt-md-5
          = recipe.name
        .d-flex.d-xxl-none.align-items-center.flex-grow-1
          = recipe.process&.truncate(150, separator: ' ')
        .d-none.d-xxl-flex.align-items-center.flex-grow-1
          = recipe.process&.truncate(250, separator: ' ')

