.navbar-expand-md.sticky-top{class: component_classes('navbar')}
  = link_to root_path, class: "navbar-brand" do
    = image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"

  %button.navbar-toggler{type: :button, 'data-toggle' => :collapse, 'data-target' => "#navbarSupportedContent", 'aria-controls' => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
    %span.navbar-toggler-icon
    %i.fas.fa-bars

  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      - if user_signed_in?
        %li.nav-item
          = link_to "My recipes", "#", class: 'nav-link'
        %li.nav-item
          = link_to "Favourites", "#", class: 'nav-link'
        %li.nav-item
          #dark-mode-switch-container.nav-link
            .custom-control.custom-switch
              %input#dark-mode-switch-input.custom-control-input{type: 'checkbox'}
              %label.custom-control-label{for: 'dark-mode-switch-input'}
                Dark mode
        %li.nav-item
          = link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %li.nav-item
          = link_to "Login", new_user_session_path, class: "nav-link"

    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{type: :search, 'placeholder' => 'Search', 'aria-label' => 'Search'}
      %button.btn.btn-outline-success.my-2.my-sm-0{type: :search}
        Search
