= link_to recipe_path(recipe) do
  .row{class: component_classes(DarkMode::CLASSES[:wide_recipe_card])}
    .col-md-6.p-0.photo-container{class: "#{photo_first ? '' : 'order-md-last'} #{recipe.photo.file&.exists? ? '' : 'placeholder-container' }"}
      - if recipe.photo.max_height_720.file&.exists?
        = image_tag recipe.photo.max_height_720.url, class: 'w-100 h-100'
      - else
        = render 'shared/site_placeholder'
    .col-md-6.p-md-0.d-flex.flex-column.details-container
      .d-flex.flex-column.justify-content-center.flex-grow-1.py-4.details
        %h2
          = recipe.name
        %div.overflow-hidden
          = recipe.process&.truncate(300, separator: ' ')
