-# REMEMBER THAT WHEN IT COMES TO DISPLAYING RECIPE PHOTOS OF DIFFERENT SIZES SEE LINE 32 OF /Users/jethrowilliams/Google Drive/code/Plant-as-Usual-2/app/uploaders/photo_uploader.rb

.container-fluid
  .row{class: component_classes(DarkMode::CLASSES[:welcome_banner])}
    .col-md-6.p-0
      .d-flex.justify-content-center.align-items-center.h-100.text-box-container
        .d-flex.flex-column.justify-content-around.align-items-center.h-100{class: component_classes(DarkMode::CLASSES[:text_box])}
          .text-center
            = image_tag 'light-mode-logo.svg', class: 'logo light-mode-logo'
            = image_tag 'dark-mode-logo.svg', class: 'logo dark-mode-logo'
            %h1.text-center
              Welcome to Plant as Usual
          .text-center.my-4.my-md-2
            Plant as Usual is the place for you to find user-added vegan recipes, and to add your own. Whether an experienced plant-based chef, or just starting-out, you're sure to find something that will whet your appetite.
          .text-center
            = link_to 'Browse recipes', recipes_path, class: "btn mb-1 mb-sm-0 #{component_classes(DarkMode::CLASSES[:btn_keen])}"
            - if current_user
              .btn.mt-1.mt-sm-0{ class: component_classes(DarkMode::CLASSES[:btn_docile]), 'data-toggle' => 'modal', 'data-target' => '#add-recipe-modal' }
                Add your own
            - else
              = link_to 'Login to add your own', new_user_session_path, class: "btn mt-1 mt-sm-0 #{component_classes(DarkMode::CLASSES[:btn_docile])}"

    .col-md-6.p-0.d-none.d-md-block
      .h-100.photo-container
        = image_tag 'temp-bowl'

= render 'shared/recipe_ladder', recipes: Recipe.current_recipes_of_the_day

= render 'shared/recipe_mosaic', recipes: [Recipe.find(10), Recipe.find(14)] # Recipe.currently_featured
