.w-100{class: component_classes(DarkMode::CLASSES[:custom_navbar])}
  = link_to root_path, class: 'site-logo position-fixed' do
    = render 'shared/site_logo'

  - unless params[:controller].include?('devise/')
    .dropleft.position-fixed.search-logo
      = link_to "#", class: 'dropdown-toggle', id: 'navbarSearchDropdown', 'role' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
        %i.fas.fa-search
      .dropdown-menu#search-form-container
        = form_tag recipes_path, method: :get, class: 'dropdown-item', id: 'search-form' do
          = hidden_field_tag 'recipe_filter', 'search'
          = text_field_tag :query, params[:query], class: "form-control", id: 'search-input'
          %button.p-0#search-button{ type: :submit }
            %i.fas.fa-search
          =# submit_tag 'Search', class: "btn my-2 my-sm-0 #{component_classes(DarkMode::CLASSES[:btn_keen])}" do

    .w-100.h-100
      .dropdown.d-flex.d-md-none.justify-content-center.w-100.h-100
        %button.dropdown-toggle#navbarMenuDropdown{type: :button, 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
          %i.fas.fa-bars
        .dropdown-menu.w-100#dropdown-item-container{'aria-labelledby' => 'navbarMenuDropdown'}
          = render 'shared/navbar/menu_items', mobile: true
      .d-none.d-md-flex.justify-content-around.align-items-center.h-100.w-100#menu-items-desktop-container
        = render 'shared/navbar/menu_items', mobile: false

= render 'shared/add_recipe_modal'
