!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title
      = page_title || 'Plant as Usual'
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    =# stylesheet_pack_tag 'application', media: 'all' <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    = favicon_link_tag
  %body{ class: display_mode, data: { params_id: params.has_key?(:id) ? params[:id] : nil } }
    .page-container
      = render 'shared/navbar/navbar'
      = render 'shared/flashes'
      = yield
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
