%h1.text-center
  Account
.container#account-show-page
  - User::EDITABLE_COLUMNS.each_value do |column|
    .row{ class: User::EDITABLE_COLUMNS.values[0] == column ? '' : 'mt-4' }
      .col-10.offset-1.col-sm-12.offset-sm-0.col-md-8.offset-md-2.col-lg-6.offset-lg-3.d-flex.flex-column.flex-sm-row.pt-2.pb-3.px-3.p-sm-4.justify-content-between.align-items-sm-center{ class: component_classes(DarkMode::CLASSES[:account_item]) }
        .text-center.text-sm-left.pb-3.pb-sm-0
          .font-weight-bold
            = User.editable_column_labels[column].capitalize
          .faded-text
            = current_user.send(column).present? ? current_user.send(column) : 'None entered'
        .change-button-container
          %button.btn.w-100{type: :button, class: component_classes(DarkMode::CLASSES[:btn_docile]), 'data-toggle' => 'modal', 'data-target' => "#update-#{column}-modal" }
            = "Change #{User.editable_column_labels[column]}"

- User::EDITABLE_COLUMNS.each_value do |column|
  = render "shared/update_user_column_modals/update_#{column}_modal"
